//
// Nav Mobile
// --------------------------------------------------

.nav-list-mobile {
	.nav-list-primary {
		position: relative;
		z-index: 0;
		padding: 0 22px 25px 22px;
		font-size: 1.25rem;
    @include clearfix;
    display: flex;
		flex-direction: column;
		line-height: 1;
		.menu-title {
			h3, .h3 {
				font-size: 1.25rem;
				margin: 0 0 0 0;
			}
		}
		li {
			a {
				display: block;
			}
		}
    > li {
			border-bottom: 1px solid #e5e5e5;
      > a {
        padding: 18px 0 18px 0;
				font-weight: 600;
      }
      &.text-redbrown {
        > a, .dl-back a {
          color: $redbrown;
        }
      }
      &.text-greendark {
        > a, .dl-back a {
          color: $greendark;
        }
      }
      &.text-purplelight {
        > a, .dl-back a {
          color: $purplelight;
        }
      }
      &.text-bluelectric {
        > a, .dl-back a {
          color: $bluelectric;
        }
      }
			> ul.menu-dropdown-simple {
				padding: 0 22px 0 22px;
				li {
					border-bottom: 1px solid #e5e5e5;
					margin-left: 30px;
    		  &:last-child {
      			border-bottom: 0px !important;
    			}
					&.dl-subviewopen {
						margin-left: 0px;
					}
					&.dl-back {
						margin-left: 0px;
					}
					a {
						padding: 18px 0 18px 0;
					}
				}
			}
    }
	}
	.nav-list-secondary {
		position: relative;
		z-index: 0;
		padding: 0 22px 0 22px;
		font-size: 1rem;

		@include clearfix;
    display: flex;
		flex-direction: column;
		line-height: 1;
		> li {
      > a {
        padding: 12px 0 12px 0;
				font-weight: 600;
      }
		}
	}
	.container {
  	padding: 0 0 0 0 !important;
  	.row.variable-gutters {
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    	.col-lg-4, .col-lg-7 {
      	padding: 0 0 0 0;
    	}
    	.col-lg-7 {
      	display: none;
    	}
  	}
	}
	.megamenu-list {
		li {
			a {
				display: block;
			}
		}
    > li {
			border-bottom: 1px solid #e5e5e5;
      > a {
        padding: 18px 0 18px 0;
      }
      &:last-child {
  			border-bottom: 0px !important;
			}
    }
	}
}



.menu-user-mobile {
	height: 100%;
	.menu-user-wrapper {
		height: 100%;
		.menu-user-bottom {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}
