//
// Sections
// --------------------------------------------------

.section {
	padding: 0 0 0 0;
	.section-title {
		color: $dark;
		margin: 0 0 10px 0;
		@include media-breakpoint-down(md) {
			margin-bottom: 0px;
			padding-left: 15px;
			padding-right: 15px;
		}
		h1, .h1, h2, .h2 {
			font-size: 3rem;
			line-height: 1.14;
			letter-spacing: -1.3px;
			font-weight: 600;
			@include media-breakpoint-down(sm) {
				font-size: 2rem;
			}
		}
		p {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.24;
			@include media-breakpoint-down(sm) {
				font-size: 1.25rem;
				margin-bottom: 5px;
			}
			&.text-small {
				font-size: 1.34rem;
				line-height: 1.37;
			}
		}
	}
	.container-border-top {
		border-top: 1px solid #e7eaed;
	}
	.section-thumb {
		width: 100%;
		max-width: 140px;
		display: block;
		overflow: hidden;
		height: auto;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		@include border-radius(70px);
		@include media-breakpoint-down(sm) {
			max-width: 100px;
		}
		&.thumb-large {
			max-width: 250px;
			@include border-radius(125px);
		}
		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	&.section-padding {
		padding: 64px 0 64px 0;
	}
	&.section-hero {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,f6f5ff+95 */
		background: #feffff; /* Old browsers */
		background: -moz-linear-gradient(top, #feffff 0%, #f6f5ff 95%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #feffff 0%,#f6f5ff 95%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #feffff 0%,#f6f5ff 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f6f5ff',GradientType=0 ); /* IE6-9 */
	}
	&.section-half-wrapper {
		position: relative;
		z-index: 0;
		.section-half {
			width: 50%;
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			height: 100%;
			content: "";
			display: block;
			&:before {
				content: "";
				display: block;
				width: 40px;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				opacity: 0.1;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
				background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
		}
		&.bg-bluelectric {
			.section-half {
				background-color: #0b00d9;
				@include media-breakpoint-down(sm) {
					display: none;
				}
			}
		}
		.container {
			position: relative;
			z-index: 2;
		}
	}
	&.section-red-gradient {
		position: relative;
		z-index: 0;
		min-height: 550px;
		display: flex;
		align-items: center;
		color: #ffffff;
		h3, .h3 {
			color: #ffffff;
			font-size: 1.69rem;
			line-height: 1.4;
			font-weight: 400;
		}
		.red-gradient-location-bg {
			position: absolute;
			z-index: -1;
			bottom: 0;
			width: 100%;
			svg {
				display: block;
				width: 100% \9;
				height: auto;
				max-width: 1024px;
				margin-left: auto;
			}
		}
	}
	&.section-map {
		position: relative;
		z-index: 0;
		min-height: 640px;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(md) {
			display: block;
			min-height: inherit;
		}
		.map-wrapper {
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			@include media-breakpoint-down(md) {
				position: relative;
				z-index: 0;
				top: auto;
				left: auto;
				height: 400px;
				width: 100%;
			}
		}
		@include media-breakpoint-down(md) {
			.container, .row, .col-lg-4 {
				margin: 0;
				padding: 0;
			}
			.card.card-bg.rounded {
				border-radius: 0px !important;
			}
		}
	}
	&.bg-petrol {
		color: #ffffff;
		.section-title {
			color: #ffffff;
			h1, .h1, h2, .h2 {
				color: #ffffff;
			}
			p {
				color: #ffffff;
			}
		}
	}
	&.section-tabs-bg {
  	.responsive-tabs {
    	ul {
      	background-color: #0a00cb;
      	position: relative;
      	z-index: 0;
        &:before {
      		content: "";
      		position: absolute;
      		z-index: 1;
      		top: 0;
      		background-color: #0a00cb;
      		--widthA: calc(100vw - 1172px);
      		--widthB: calc(-100vw + 1172px);
      		width: calc(var(--widthA) / 2);
      		left: calc(var(--widthB) / 2);
      		height: 100%;
          @include media-breakpoint-down(lg) {
        		width: 16px;
        		left: -16px;
    			}
      	}
    	}
  	}
	}
	&.bg-purplelight {
  	color: #ffffff;
  	h1, .h1, h2, .h2, h3, .h3, p {
    	color: #ffffff;
  	}
	}
	&.bg-purplegradient {
  	color: #ffffff;
  	h1, .h1, h2, .h2, h3, .h3, p {
    	color: #ffffff;
  	}
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b21dd0+0,590e61+100 */
    background: #b21dd0; /* Old browsers */
    background: -moz-linear-gradient(left, #b21dd0 0%, #590e61 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b21dd0 0%,#590e61 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b21dd0 0%,#590e61 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b21dd0', endColorstr='#590e61',GradientType=1 ); /* IE6-9 */
	}
  &.bg-greendarkgradient {
    color: #ffffff;
  	h1, .h1, h2, .h2, h3, .h3, p {
    	color: #ffffff;
  	}
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f842e+0,5cc984+100 */
    background: #0f842e; /* Old browsers */
    background: -moz-linear-gradient(left, #0f842e 0%, #5cc984 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f842e 0%,#5cc984 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f842e 0%,#5cc984 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f842e', endColorstr='#5cc984',GradientType=1 ); /* IE6-9 */
  }
  &.section-map-wrapper {
    position: relative;
    z-index: 0;
    .map-wrapper {
      height: 670px;
      padding-right: 350px;
      position: relative;
      z-index: 0;
      @include media-breakpoint-down(md) {
        padding-right: 300px;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .map-aside {
      position: absolute;
      width: 350px;
      height: 100%;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #f5f5f5;
      padding: 10px;
      @include media-breakpoint-down(md) {
        width: 300px;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
        top: auto;
        right: auto;
      }
      h3, .h3 {
        font-size: 1.27rem;
      }
    }
  }
}

.slided-top {
  position: relative;
  z-index: 1;
  margin-top: -30px;
}

.purple-oval-forms {
  width: 578px;
  height: 359px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 40px;
  svg {
    width: 578px;
    height: 359px;
  }
}

.green-square-forms {
  width: 726px;
  height: 360px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  svg {
    width: 726px;
    height: 360px;
  }
}

.people-red-forms {
  width: 364px;
  height: 245px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 100px;
  @include media-breakpoint-down(sm) {
    right: 0px;
  }
  @include media-breakpoint-down(xs) {
    right: -50px;
  }
  svg {
    width: 364px;
    height: 245px;
  }
}

.section-hours {
  position: relative;
  z-index: 1;
  .hours {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 177px;
    height: 100%;
    @include media-breakpoint-down(lg) {
			width: 97px;
		}
		@include media-breakpoint-down(xs) {
			width: 67px;
		}
    ul {
      padding: 60px 0 37px 0;
      margin: 0;
      list-style: none;
      text-align: right;
      color: #8b98a6;
      position: relative;
      z-index: 0;
      &:before {
        position: absolute;
        z-index: 1;
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $bluelectric;
        content: "";
      }
      li {
        height: 65px;
        width: 100%;
        position: relative;
        z-index: 1;
        line-height: 1;
        font-family: $font-family-monospace;
        font-size: 1.125rem;
        padding: 0 20px 0 0;
        @include media-breakpoint-down(lg) {
      		font-size: 0.875rem;
      	}
        @include media-breakpoint-down(xs) {
    			padding: 1px 10px 0 0;
    		}
        &:before {
          position: absolute;
          z-index: 1;
          top: 2px;
          right: -7px;
          width: 14px;
          height: 14px;
          @include border-radius(50%);
          background-color: #8b98a6;
          content: "";
          border: 2px solid #ffffff;
        }
        &:last-child {
          height: auto;
        }
      }
    }
  }
  .carousel-hours {
    position: relative;
    z-index: 0;
  }
}

.section-hours-top {
  margin: 0 0 0 177px;
  position: relative;
  z-index: 2;
  width: 50%;
  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M16,23.486l16,-14.902l-32,0l16,14.902Z' style='fill:%230b00d9;'/%3E%3C/svg%3E");
    content: "";
    position: absolute;
    z-index: 1;
    top: -6px;
    left: -11px;
    width: 22px;
    height: 22px;
    display: block;
  }
  &.section-hours-top-no-icon {
    &:before {
      background-image: none;
      content: none;
      position: relative;
      z-index: 0;
      top: auto;
      left: auto;
      width: auto;
      height: auto;
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
		margin: 0 0 0 97px;
	}
	@include media-breakpoint-down(xs) {
		margin: 0 0 0 67px;
	}
  .class-selector-wrapper {
    position: relative;
    z-index: 0;
    padding: 20px 0 20px 20px;
    &:before {
      position: absolute;
      z-index: 1;
      width: 1px;
      height: 100%;
      top: 0;
      left: -1px;
      background-color: $bluelectric;
      content: "";
    }
    .class-selector {
      position: relative;
      z-index: 0;
      &:hover {
        text-decoration: none;
      }
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/%3E%3Cpath d='M16,23.486l16,-14.902l-32,0l16,14.902Z' style='fill:%230d00ff;'/%3E%3C/svg%3E");
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        right: -17px;
        width: 12px;
        height: 12px;
        display: block;
        margin-top: -6px;
      }
      span {
        position: relative;
        z-index: 0;
        &.class-name {
          font-size: 2rem;
          position: relative;
          z-index: 0;
          top: 4px;
          font-weight: 800;
          color: $bluelectric;
        }
      }
    }
  }
}

.section-hours-bottom {
  border-top: 1px solid #d1d6db;
  border-bottom: 1px solid #d1d6db;
  .card {
    margin-left: 157px;
    @include media-breakpoint-down(lg) {
  		margin-left: 77px;
  	}
  	@include media-breakpoint-down(xs) {
  		margin-left: 0px;
  	}
  }
  .text-icon {
    float: right;
    margin-top: 25px;
  }
}

.bg-bluelectricdark {
  background-color: #0b00d9;
}

.section-bluedark {
  background-color: #17324d;
  color: #ffffff;
  h1, .h1, h2, .h2, h3, .h3 {
    color: #ffffff;
  }
}

.bg-bluedark {
  background-color: #30465c;
  color: #ffffff;
  h1, .h1, h2, .h2, h3, .h3 {
    color: #ffffff;
  }
}

.top-move-back {
  position: relative;
  z-index: 3;
  top: 0;
  margin-top: -50px;
}
