//
// Type
// --------------------------------------------------

.title-large {
  h3, .h3 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -1.4px;
    margin: 0 0 40px 0;
    color: $gray-primary;
    @include media-breakpoint-down(lg) {
      font-size: 2.8rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.2rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 30px 0;
    strong {
      font-weight: 700;
    }
  }
}

.text-large {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  @include media-breakpoint-down(lg) {
    font-size: 1.8rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.7rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.6rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
  }
}

.text-description {
  font-size: 1.19rem;
  font-weight: 400;
  line-height: 1.5;
  @include media-breakpoint-down(xs) {
    font-size: 1rem;
  }
}

.title-section {
  color: $gray-primary;
  .bg-red-radial &, .bg-redbrown & {
    color: #ffffff;
  }
  h3, .h3 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1.4px;
    margin: 0 0 0 0;
    color: $gray-primary;
    @include media-breakpoint-down(lg) {
      font-size: 2.3rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 2.1rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.97rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1.75rem;
    }
    .bg-red-radial &, .bg-redbrown & {
      color: #ffffff;
    }
  }
  h4, .h4 {
    font-size: 2rem;
    line-height: 1.14;
    @include media-breakpoint-down(sm) {
      font-size: 1.9rem;
    }
  }
  p {
    font-size: 1.5rem;
    line-height: 1.37;
    color: $gray-primary;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1.25rem;
    }
    .bg-red-radial &, .bg-redbrown & {
      color: #ffffff;
    }
  }
}


a.read-more {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .88rem;
  letter-spacing: 0px;
  position: relative;
  z-index: 0;
  position: relative;
  z-index: 0;
  padding: 0 19px 0 0;
  &:before {
    content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path d='M13.606,2.494l1.585,-1.585c0.672,-0.672 1.757,-0.672 2.421,0l13.884,13.877c0.672,0.671 0.672,1.757 0,2.421l-13.884,13.884c-0.671,0.672 -1.757,0.672 -2.421,0l-1.585,-1.585c-0.679,-0.679 -0.665,-1.786 0.028,-2.45l8.606,-8.199l-20.526,0c-0.95,0 -1.714,-0.764 -1.714,-1.714l0,-2.286c0,-0.95 0.764,-1.714 1.714,-1.714l20.526,0l-8.606,-8.199c-0.7,-0.664 -0.714,-1.771 -0.028,-2.45Z' style='fill:rgb(209, 52, 76);'/></svg>");
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 0;
    display: block;
    width: 12px;
    height: 12px;
  }
  .redbrown & {
    color: $redbrown;
  }
}

.max-width-620 {
  width: 100%;
  max-width: 620px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
}

.list-icon {
  padding: 0 0 0 0;
  list-style: none;
  li {
    position: relative;
    z-index: 0;
    padding: 0 0 0 22px;
    &.icon-duration {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path id='Combined-Shape' d='M15.984,0c8.848,0 16.016,7.168 16.016,16c0,8.832 -7.168,16 -16.016,16c-8.832,0 -15.984,-7.168 -15.984,-16c0,-8.832 7.152,-16 15.984,-16Zm0.016,30c7.735,0 14,-6.265 14,-14c0,-7.735 -6.265,-14 -14,-14c-7.735,0 -14,6.265 -14,14c0,7.735 6.265,14 14,14Zm1.003,-14.401l5.703,5.693l-1.412,1.416l-6.291,-6.28l0,-10.428l2,0l0,9.599Z' style='fill:rgb(255, 255, 255);'/></svg>");
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 0;
        display: block;
        width: 16px;
        height: 16px;
      }
    }
    &.icon-comments {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path d='M16.283,0.001c9.715,0.21 18.3,10.136 14.996,19.604c-2.77,7.939 -12.824,12.396 -21.346,9.199c0,0 -2.35,1.729 -4.059,2.403c-1.428,0.564 -2.957,0.856 -4.498,0.867c0,0 -0.382,-0.022 -0.639,-0.164c-1.977,-1.093 1.436,-3.929 2.512,-7.893c-2.914,-3.627 -4.049,-8.733 -2.658,-13.237c1.934,-6.266 8.382,-10.632 15.15,-10.779c0.272,-0.001 0.271,-0.001 0.542,0Zm-0.515,1.887c-8.403,0.182 -16.056,8.498 -13.324,16.791c0.513,1.559 1.346,2.999 2.371,4.275l0.489,0.588c-0.547,2.356 -1.601,4.554 -2.978,6.518c0,0 3.906,-0.674 6.572,-2.917l0.63,-0.545c8.565,3.584 20.467,-1.486 20.632,-11.416c0.12,-7.18 -6.68,-13.349 -14.392,-13.294Z' style='fill:rgb(255, 255, 255);'/></svg>");
        position: absolute;
        z-index: 1;
        top: 2px;
        left: 0;
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }
}



.list-icon-large {
  padding: 15px 0 0 0;
  list-style: none;
  li {
    position: relative;
    z-index: 0;
    padding: 0 0 0 28px;
    margin: 0 0 25px 0;
    &:last-child {
      margin: 0 0 0 0;
    }
    h4, .h4 {
      font-size: 1.12rem;
      font-weight: 700;
      margin: 0 0 5px 0;
    }
    p {
      .card-body & {
        font-family: $font-family-sans-serif;
        font-size: 1rem;
        margin: 0 0 5px 0;
      }
    }
    &:before {
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
    }
    &.icon-location {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path id='Shape' d='M16,0c-6.947,0 -12.6,5.653 -12.6,12.6c0,6.947 7.314,14.867 12.6,19.4c5.282,-4.53 12.6,-12.453 12.6,-19.4c0,-6.947 -5.653,-12.6 -12.6,-12.6Zm0,27.804c-3.355,-3.145 -9.45,-9.947 -9.45,-15.204c0,-5.212 4.238,-9.45 9.45,-9.45c5.212,0 9.45,4.238 9.45,9.45c0,5.257 -6.095,12.059 -9.45,15.204Z' style='fill:rgb(70, 90, 110);'/></svg>");
      }
    }
    &.icon-time {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path id='Shape' d='M16,0c-8.839,0 -16,7.161 -16,16c0,8.839 7.161,16 16,16c8.839,0 16,-7.161 16,-16c0,-8.839 -7.161,-16 -16,-16Zm0,28.903c-7.129,0 -12.903,-5.774 -12.903,-12.903c0,-7.129 5.774,-12.903 12.903,-12.903c7.129,0 12.903,5.774 12.903,12.903c0,7.129 -5.774,12.903 -12.903,12.903Zm3.987,-6.735l-5.477,-3.981c-0.2,-0.148 -0.316,-0.381 -0.316,-0.626l0,-10.593c0,-0.426 0.348,-0.774 0.774,-0.774l2.064,0c0.426,0 0.774,0.348 0.774,0.774l0,9.142l4.31,3.135c0.349,0.252 0.419,0.736 0.168,1.084l-1.213,1.671c-0.252,0.342 -0.736,0.419 -1.084,0.168Z' style='fill:rgb(70, 90, 110);'/></svg>");
      }
    }
    &.icon-phone {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path id='Path' d='M6.436,13.849c2.56,5.031 6.684,9.138 11.715,11.715l3.911,-3.911c0.48,-0.48 1.191,-0.64 1.814,-0.426c1.991,0.657 4.142,1.013 6.346,1.013c0.978,0 1.778,0.8 1.778,1.778l0,6.204c0,0.978 -0.8,1.778 -1.778,1.778c-16.693,0 -30.222,-13.529 -30.222,-30.222c0,-0.978 0.8,-1.778 1.778,-1.778l6.222,0c0.978,0 1.778,0.8 1.778,1.778c0,2.222 0.355,4.355 1.013,6.346c0.196,0.623 0.053,1.316 -0.444,1.814l-3.911,3.911Z' style='fill:rgb(70, 90, 110);'/></svg>");
      }
    }
    &.icon-email {
      &:before {
        content: url("data:image/svg+xml; utf8, <svg width='100%' height='100%' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><rect id='Rectangle-path' x='0' y='0.035' width='32' height='32' style='fill:none;'/><path id='Shape' d='M29,4l-26,0c-1.657,0 -3,1.343 -3,3l0,18c0,1.657 1.343,3 3,3l26,0c1.657,0 3,-1.343 3,-3l0,-18c0,-1.657 -1.343,-3 -3,-3Zm0,3l0,2.55c-1.401,1.141 -3.636,2.916 -8.412,6.656c-1.052,0.828 -3.137,2.817 -4.588,2.794c-1.45,0.023 -3.536,-1.966 -4.588,-2.794c-4.776,-3.739 -7.01,-5.514 -8.412,-6.656l0,-2.55l26,0Zm-26,18l0,-11.6c1.432,1.141 3.463,2.741 6.559,5.165c1.366,1.076 3.758,3.449 6.441,3.435c2.67,0.014 5.032,-2.325 6.441,-3.434c3.095,-2.424 5.127,-4.025 6.559,-5.166l0,11.6l-26,0Z' style='fill:rgb(70, 90, 110);'/></svg>");
      }
    }
  }
}

.icon-text {
  display: flex;
  span {
    margin: 0 0 0 0;
  }
}

.text-small-bold {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 30px;
}
