<template>
  <div class="container">   
    <it-breadcrumbs it-aria-label="Percorso di navigazione">
      <it-breadcrumb-item><a href="../index.html">Home</a></it-breadcrumb-item>
      <span data-tpl-if="paginePrecedenti" data-tpl-each="paginePrecedenti">
        <it-breadcrumb-item
          ><a data-tpl-href="url" href="#"><span data-tpl="nome"></span></a
        ></it-breadcrumb-item>
      </span>

      <it-breadcrumb-item><span data-tpl="pagina"></it-breadcrumb-item>    
    </it-breadcrumbs>   
  </div>
</template>
