<template>
  <div class="container">
    <it-breadcrumbs it-aria-label="Percorso di navigazione">
      <it-breadcrumb-item><a href="../pages/homepage.html">Home</a></it-breadcrumb-item>
      <span data-tpl-if="paginePrecedenti" data-tpl-each="paginePrecedenti">
        <it-breadcrumb-item
          ><a data-tpl-href="url" href="#"><span data-tpl="nome"></span></a
        ></it-breadcrumb-item>
      </span>

      <it-breadcrumb-item><span data-tpl="pagina"></span></it-breadcrumb-item>
    </it-breadcrumbs>
  </div>
</template>
