<template>
  <it-section class="spacing-xl" variant="emphasis">
    <div class="container">
      <div class="bg-white py-4 px-4 m-auto col-12 col-lg-6">
        <it-rating
          name="rating"
          value="0"
          icon="it-star-full"
          max-elements="5"
          class="d-flex flex-column align-items-start"
        >
          <p slot="label" class="text-black h5">
            Quanto sono chiare le informazioni su questa pagina?
          </p>
          <it-rating-item value="1">
            <span slot="label">1 stella</span>
          </it-rating-item>
          <it-rating-item value="2">
            <span slot="label">2 stelle</span>
          </it-rating-item>
          <it-rating-item value="3">
            <span slot="label">3 stelle</span>
          </it-rating-item>
          <it-rating-item value="4">
            <span slot="label">4 stelle</span>
          </it-rating-item>
          <it-rating-item value="5">
            <span slot="label">5 stelle</span>
          </it-rating-item>
        </it-rating>
      </div>
    </div>
  </it-section>
</template>
