//
// JPUSH MENU
// --------------------------------------------------

.cbp-spmenu {
  -webkit-transition: all 0.20s ease-out;
  -moz-transition: all 0.20s ease-out;
  -ms-transition: all 0.20s ease-out;
  -o-transition: all 0.20s ease-out;
  transition: all 0.20s ease-out;
  background: #fff none repeat scroll 0 0;
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0px;
  width: 320px;
  z-index: 99999;
  .logo-header {
    height: 127px;
    padding: 0 22px 0 22px;
    svg {
      width: 48px;
      height: 54px;
    }
    p {
      &.h1 {
        font-size: 1rem;
        margin-left: 15px;
        color: $gray-primary;
      }
    }
  }
}

.cbp-spmenu-left {
  left: -320px;
}

.cbp-spmenu-left.menu-open {
  left: 0;
}

.cbp-spmenu-right, .cbp-spmenu-search {
  right: -320px;
}

.cbp-spmenu-right.menu-open {
  right: 0;
}

.cbp-spmenu-search.menu-open {
  right: 0;
}

.push-body-toright, .push-body-toleft {
  overflow: hidden;
}

body.push-body {
  #main-header {
    &:after {
      -webkit-transition: all 0.20s ease-out;
      -moz-transition: all 0.20s ease-out;
      -ms-transition: all 0.20s ease-out;
      -o-transition: all 0.20s ease-out;
      transition: all 0.20s ease-out;
      background: #000000;
      opacity: 0;
    }
  }
  &.push-body-toright, &.push-body-toleft, &.push-body-search {
    #main-header {
      &:after {
        content: " ";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 998;
        cursor: pointer;
        opacity: 0.4;
      }
    }
  }
}

.toggle-search-results-mobile {
  svg {
    width: 24px;
    height: 24px;
    fill: #9eb2bf;
  }
}

.search-results-filters-mobile {
  .aside-list {
    padding: 20px;
  }
}

.mobile-header-control {
  svg {
    width: 24px;
    height: 24px;
    fill: $primary;
  }
}

.menu-mobile-header {
  padding: 15px;
}
