<template>
  <div class="container">
    <div class="col-12 col-lg-10">
      <it-carousel variant="gallery-sm" arrows=""
        ><h2 slot="title">Un'anteprima dell'Istituto</h2>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 1"
                    alt="descrizione immagine 1"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 2"
                    alt="descrizione immagine 2"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 3"
                    alt="descrizione immagine 3"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 4"
                    alt="descrizione immagine 4"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 5"
                    alt="descrizione immagine 5"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
        <it-carousel-slide>
          <div class="card-wrapper">
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <div class="img-wrapper">
                  <img
                    src="https://www.placeholderimage.eu/api/800/600"
                    title="titolo immagine 6"
                    alt="descrizione immagine 6"
                  />
                </div>
              </div>
            </div>
          </div>
        </it-carousel-slide>
      </it-carousel>
    </div>
  </div>
</template>
