<template>
  <it-section class="service-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6" data-tpl="circolari">
          <h2 class="service-section__title" data-tpl="titolo"></h2>
          <p class="service-section__description" data-tpl="descrizione"></p>
          <div class="service-grid" data-tpl="circolari-data-cards"></div>
          <a href="#" class="d-inline-flex align-items-center gap-2 mt-3">
            Consulta tutte le circolari
            <svg class="icon">
              <use href="/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
            </svg>
          </a>
        </div>

        <div class="col-12 col-lg-6" data-tpl="servizi">
          <h2 class="service-section__title" data-tpl="titoloServizi"></h2>
          <p class="service-section__description" data-tpl="descrizioneServizi"></p>
          <div class="service-grid" data-tpl="servizi-data-cards"></div>
          <a href="#" class="d-inline-flex align-items-center gap-2 mt-3">
            Vai a tutti i servizi
            <svg class="icon">
              <use href="/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </it-section>
</template>
