<template>
  <it-section class="service-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6" data-tpl="circolari">
          <h2 class="service-section__title" data-tpl="titolo"></h2>
          <p class="service-section__description" data-tpl="descrizione"></p>
          <div class="row row-cols-1 g-3" data-tpl="circolari-data-cards"></div>
          <a href="#" class="d-inline-flex align-items-center g-2 mt-3">
            Consulta tutte le circolari
            <it-icon name="it-arrow-right" color="primary" size="sm" class="ms-2"></it-icon>
          </a>
        </div>

        <div class="col-12 col-lg-6" data-tpl="servizi">
          <h2 class="service-section__title" data-tpl="titoloServizi"></h2>
          <p class="service-section__description" data-tpl="descrizioneServizi"></p>
          <div class="row row-cols-1 g-3" data-tpl="servizi-data-cards"></div>
          <a href="#" class="d-inline-flex align-items-center g-2 mt-3">
            Vai a tutti i servizi
            <it-icon name="it-arrow-right" color="primary" size="sm" class="ms-2"></it-icon>
          </a>
        </div>
      </div>
    </div>
  </it-section>
</template>
