<template>
  <footer class="site-footer">
    <div class="container footer-body">
      <div class="footer-school">
        <div class="school-name">
          <span data-tpl="nome"></span>
          <strong data-tpl="denominazione"></strong>
          <span data-tpl="citta"></span>
        </div>
        <p class="footer-tagline">Idea e progetto di <a href="https://designers.italia.it">Designers Italia</a></p>
      </div>
      <nav aria-label="Footer">
        <ul>
          <li><a href="#">Note legali</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Amministrazione trasparente</a></li>
          <li><a href="#">Dichiarazione di accessibilità</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</template>
