<template>
  <footer class="it-footer">
    <div class="it-footer-main">
      <div class="container">
        <section class="pb-4">
          <div class="row clearfix">
            <div class="col-sm-12">
              <div class="it-brand-wrapper">
                <a href="#">
                  <it-icon name="it-pa" size="xl" color="inverse"></it-icon>
                  <div class="it-brand-text">
                    <h2 class="no_toc" data-tpl="denominazione">denominazione</h2>
                    <h3 class="no_toc" data-tpl="citta">citta</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
              <h4>
                <a href="#" title="Vai alla pagina: Menu principale">Menu principale</a>
              </h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li><a class="list-item" href="#">Istituto</a></li>
                  <li><a class="list-item" href="#">Didattica</a></li>
                  <li><a class="list-item" href="#">Servizi</a></li>
                  <li><a class="list-item" href="#">Comunicazioni</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
              <h4>
                <a href="#" title="Vai alla pagina: Pubblicità e trasparenza">Pubblicità e trasparenza</a>
              </h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li><a class="list-item" href="#">Amministrazione trasparente</a></li>
                  <li><a class="list-item" href="#">Albo online</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
              <h4>
                <a href="#" title="Vai alla pagina: Personale scolastico">Personale scolastico</a>
              </h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li><a class="list-item" href="#">Modulistica per il personale scolastico</a></li>
                  <li><a class="list-item" href="#">Registro elettronico per docenti</a></li>
                  <li><a class="list-item" href="#">NoiPA</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <h4>
                <a href="#" title="Vai alla pagina: Link esterni">Link esterni</a>
              </h4>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li><a class="list-item" href="#">MIUR</a></li>
                  <li><a class="list-item" href="#">Ufficio Scolastico Regionale</a></li>
                  <li><a class="list-item" href="#">Ufficio Scolastico Territoriale</a></li>
                  <li><a class="list-item" href="#">Scuola In Chiaro</a></li>
                  <li><a class="list-item" href="#">Comune</a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="py-4 border-white border-top">
          <div class="row">
            <div class="col-lg-4 col-md-4 pb-2">
              <h4>Contatti</h4>
              <p >
                <strong data-tpl="denominazione">denominazione</strong><br data-tpl="indirizzo" />
                indirizzo<br />
              </p>
              <div class="link-list-wrapper">
                <ul class="footer-list link-list clearfix">
                  <li>
                    <a class="list-item" href="mailto:{{pec}}" data-tpl="pec">pec</a>
                  </li>
                  <li>
                    <a class="list-item" href="tel:{{telefono}}" data-tpl="telefono">telefono</a>
                  </li>
                  <li>
                    <a class="list-item" href="#">URP - Ufficio Relazioni con il Pubblico</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 pb-2">
              <div class="pb-2">
                <h4>Seguici su</h4>
                <ul class="list-inline text-left social">
                  <li class="list-inline-item">
                    <a class="p-2" href="#">
                      <it-icon color="inverse" size="sm" name="it-facebook"></it-icon>
                      <span class="visually-hidden">Facebook (link esterno)</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="p-2" href="#">
                      <it-icon color="inverse" size="sm" name="it-instagram"></it-icon>
                      <span class="visually-hidden">Instagram (link esterno)</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="p-2" href="#">
                      <it-icon color="inverse" size="sm" name="it-twitter"></it-icon>
                      <span class="visually-hidden">X (link esterno)</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="p-2" href="#">
                      <it-icon color="inverse" size="sm" name="it-youtube"></it-icon>
                      <span class="visually-hidden">YouTube (link esterno)</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 mt-2">
              <h4>Newsletter</h4>
              <div class="form-group d-flex gap-1">
                <it-input
                  slotted=""
                  type="text"
                  id="footerNewsletterEmail"
                  size="sm"
                  placeholder="Indirizzo email"
                  label-hidden=""
                >
                  <span slot="label">Inserisci la tua email</span>
                  <it-button type="submit" variant="primary" slot="append">Iscriviti</it-button>
                </it-input>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="it-footer-small-prints clearfix">
      <div class="container">
        <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
          <li class="list-inline-item"><a href="#">Archivio</a></li>
          <li class="list-inline-item"><a href="#">Informativa cookie</a></li>
          <li class="list-inline-item"><a href="#">Note legali</a></li>
          <li class="list-inline-item"><a href="#">Informativa privacy</a></li>
          <li class="list-inline-item"><a href="#">Mappa del sito</a></li>
          <li class="list-inline-item">
            <a href="https://form.agid.gov.it/view/xyz">
              Dichiarazione di accessibilità
              <span class="visually-hidden">(link esterno su sito AgID)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>