<template>
  <it-section image="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg" inverse="">
    <img
      title="titolo immagine"
      alt="descrizione immagine"
      slot="background"
      image="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg"
    />

    <div slot="text" class="it-hero-text-wrapper w-100">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-12 col-lg-6 text-lg-start">
            <div class="denominazione" scuola>
              <h2 data-tpl="denominazione"></h2>
              <h1 data-tpl="nome"></h1>
              <h2 data-tpl="citta"></h2>
            </div>

            <div class="descrizione" scuola></div>
            <p data-tpl="descrizione"></p>
            <p><a href="../index.html" class="btn btn-primary text-white">Scopri l'istituto</a></p>
          </div>

          <div class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-center mt-4 mt-lg-0">
            <img
              src="https://picsum.photos/500/300"
              alt="immagine istituto"
              class="img-fluid"
            />
          </div>

        </div>
      </div>
    </div>
  </it-section>
</template>
