<template>
  <it-hero>
    <img
      title="titolo immagine"
      alt="descrizione immagine"
      slot="background"
      src="https://animals.sandiegozoo.org/sites/default/files/2016-08/animals_hero_mountains.jpg"
    />
    <div slot="text" class="it-hero-text-wrapper bg-dark">
      <div class="d-flex flex-column flex-md-row align-items-center gap-5">
        <!-- Colonna sinistra: testo -->
        <div class="flex-grow-1">
          <div class="denominazione" scuola>
            <h2 data-tpl="denominazione"></h2>
            <h1 data-tpl="nome"></h1>
            <h2 data-tpl="citta"></h2>
          </div>
          <div class="descrizione" scuola></div>
          <p data-tpl="descrizione"></p>
          <p><a href="../index.html">Scopri l'istituto</a></p>
        </div>

        <!-- Colonna destra: immagine -->
        <div class="flex-shrink-0">
          <img src="https://picsum.photos/300/200" alt="immagine istituto" class="rounded" />
        </div>
      </div>
    </div>
  </it-hero>
</template>
