<template>
  <it-hero title="immagine di sfondo" alt="immagine di sfondo" slot="background" src="../illustrations/scuola-large.svg">
    <div slot="text" class="it-hero-text-wrapper bg-dark row align-items-start py-4">
        <div class="col-12 col-lg-8 text-lg-start p-0">
            <h1 class="mb-2" data-tpl="titolo">Titolo della sezione</h1>
            <h5 data-tpl="text" class="col-12 px-0 fw-normal">
              Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
              Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus.
            </h5>
          </div>
        </div>
  </it-hero>
</template>