<template>
  <it-section image="../illustrations/scuola-large.svg" inverse="">
    <div class="container w-100">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 text-lg-start p-0">
          <div class="py-4 container m-0 row row-cols-1 g-2 g-lg-3">
            <h2 data-tpl="titolo">Titolo della sezione</h2>
            <p data-tpl="text">
              Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
              Dictum sit amet justo donec enim diam vulputate ut. Eu nisl nunc mi ipsum faucibus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </it-section>
</template>
