<template>
<it-section image="../illustrations/hero-homepage-large.svg" inverse>
  
  <div class="container">
    <div class="d-flex flex-column text-white">
      <h2 class="no_toc">Per il personale scolastico</h2>
      <p class="d-none d-lg-block">Informazioni, modulistica e strumenti per i docenti dell'Istituto.</p>
      <div class="it-btn-container">
        <a class="btn btn-sm" href="#" style="background-color: #fff;">Azione primaria
          <it-icon name="it-arrow-right" color="primary" size="sm" class="ms-2"></it-icon>
        </a>
      </div>
    </div>
  </div>
</it-section>
</template>