<template>
	<it-rating name="rating" value="0" icon="it-star-outline" max-elements="5">
  <span slot="label">Valuta questo contenuto</span>
  <it-rating-item value="1">
    <span slot="label">1 stella</span>
  </it-rating-item>
  <it-rating-item value="2">
    <span slot="label">2 stelle</span>
  </it-rating-item>
  <it-rating-item value="3">
    <span slot="label">3 stelle</span>
  </it-rating-item>
  <it-rating-item value="4">
    <span slot="label">4 stelle</span>
  </it-rating-item>
  <it-rating-item value="5">
    <span slot="label">5 stelle</span>
  </it-rating-item>
</it-rating>
</template>