<template>
    <div class="bg-dark py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto bg-white p-4 rounded">

          <fieldset class="rating-fieldset text-center">
            <legend class="mb-2">Quanto sono chiare le informazioni su questa pagina?</legend>
            <div class="rating">
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5" title="5 stelle">★</label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4" title="4 stelle">★</label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3" title="3 stelle">★</label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2" title="2 stelle">★</label>
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1" title="1 stella">★</label>
            </div>
          </fieldset>

        </div>
      </div>
    </div>
  </div>
</template>
