<template>
  <it-section class="service-section">
    <div class="container">
      <h2 class="service-section__title" data-tpl="titoloSezione"></h2>

      <div class="percorsiDistudio">
        <h2 class="percorsi__title" data-tpl="titlePercorsi"></h2>
        <p class="percorsi__description" data-tpl="description1Percorsi"></p>
        <p class="percorsi__description" data-tpl="description2Percorsi"></p>
        <it-button variant="danger" type="button">
          <a href="#" data-tpl="testoLink1Percorsi"> </a>
        </it-button>
        <p><a class="percorsi__link" data-tpl="testoLink2Percorsi" href="#"> </a></p>
      </div>

      <div class="tipiScuole">
        <p data-tpl="infanzia"></p>
        <p data-tpl="descrizioneTipo1"></p>
        <p data-tpl="elementari"></p>
        <p data-tpl="descrizioneTipo2"></p>
        <p data-tpl="medie"></p>
      </div>

      <div class="progettiIstituto">
        <h2 class="progetti__title" data-tpl="titleProgetti"></h2>
        <p class="progetti__description" data-tpl="description1Progetti"></p>
        <p class="progetti__description" data-tpl="description2Progetti"></p>
        <p><a class="progetti__link" data-tpl="testolinkProgetti" href="#"> </a></p>
      </div>
      <div study-card></div>
    </div>
  </it-section>
</template>
