<template>
  <section class="py-4">
    <h2 id="contatti">Contatti</h2>
    <div class="it-list-wrapper">
      <ul class="it-list">
        <li>
          <div class="list-item">
            <div class="it-right-zone">
              <span class="text fw-normal"
                ><strong>Email:</strong>
                <a href="mailto:esempio@email.com">esempio@email.com</a></span
              >
            </div>
          </div>
        </li>
        <li>
          <div class="list-item">
            <div class="it-right-zone">
              <span class="text fw-normal"
                ><strong>Tel.:</strong> <a href="tel:+39000000000">+39 000 000 000</a></span
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</template>
