<template>
  <it-card full-height="">
    <a slot="title" href="#" data-tpl-href="url" data-tpl="title">Titolo del contenuto</a>
    <figure slot="image" class="figure img-full">
      <img data-tpl-src="image" data-tpl-alt="alt" alt="" />
    </figure>
    <span slot="text" data-tpl="text">
      Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre
      o quattro righe, senza troncamento.
    </span>
    <div slot="footer" class="it-card-taxonomy">
      <a href="#" class="it-card-category it-card-link">
        <span class="visually-hidden" data-tpl="category">Categoria correlata: </span>
        Categoria
      </a>
    </div>
    <time slot="footer" class="it-card-date" data-tpl-datetime="date" data-tpl="date">
      22 aprile 2026
    </time>
  </it-card>
</template>
