<template>
  <it-card full-height variant="location" border-top="primary">
    <a slot="title" href="#" data-tpl="title">Toponimo o luogo</a>
    <span slot="subtitle" data-tpl="subtitle" data-tpl-if="subtitle"></span>
    <div slot="image" class="it-card-profile-image-icon-wrapper" data-tpl-if="icon">
      <it-icon color="primary" data-tpl-name="icon" size="md"></it-icon>
    </div>
    <dl
      slot="body"
      class="it-card-description-list border-bottom-0 mb-0"
      data-tpl-if="bodyHtml"
      data-tpl-html="bodyHtml"
    ></dl>

    <div
      slot="body"
      class="it-card-description-list border-bottom-0 mb-0"
      data-tpl-if="body"
      data-tpl-html="body"
    ></div>

    <a slot="footer" href="#" target="_blank" class="it-card-link" data-tpl-if="mapUrl">
      Apri in mappa
      <span class="visually-hidden">
        <span data-tpl="title"></span> (si apre in una nuova finestra)</span
      >
      <it-icon class="ms-2" color="primary" name="it-external-link" size="sm"></it-icon>
    </a>
  </it-card>
</template>
