<template>
  <it-card full-height="" variant="location">
    <a slot="title" href="#" data-tpl="title">Toponimo o luogo</a>
    <div slot="image" class="it-card-profile-image-icon-wrapper">
      <it-icon color="primary" name="it-pa" size="lg"></it-icon>
    </div>
    <dl slot="body" class="it-card-description-list border-bottom-0 mb-0">
      <div>
        <dt>Email:</dt>
        <dd data-tpl="email">me@mail.com</dd>
      </div>
      <div>
        <dt>Tel:</dt>
        <dd data-tpl="tel">340.4050600</dd>
      </div>
      <div>
        <dt>Indirizzo:</dt>
        <dd data-tpl="indirizzo">Via della città, 5 - 00100 Città</dd>
      </div>
    </dl>
  </it-card>
</template>
