<template>
	<it-card variant="inline">
  <a slot="title" href="#" data-tpl="title">Titolo contenuto editoriale</a>
  <span slot="text" data-tpl="text">
    Questo è un testo breve che riassume il contenuto della pagina di
    destinazione in massimo tre o quattro righe, senza troncamento.
  </span>
  <div slot="footer" class="it-card-taxonomy">
    <a href="#" class="it-card-category it-card-link">
      <span class="visually-hidden" data-tpl="category">Categoria correlata: </span>
      Categoria
    </a>
  </div>
  <time slot="footer" class="it-card-date" datetime="2026-04-22" data-tpl="date">
    22 aprile 2026
  </time>
  <figure slot="image" class="figure img-full" data-tpl="image">
    <img
      src="https://placeholderimage.eu/api/city/800/600"
      alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto."
    />
  </figure>
</it-card>

</template>