<template>
<it-card full-height="" variant="location">
  <a slot="title" href="#">Toponimo o luogo</a>
  <span slot="subtitle">Tipologia di luogo</span>
  <div slot="image" class="it-card-profile-image-icon-wrapper">
    <it-icon color="primary" name="it-pa" size="lg"></it-icon>
  </div>
  <dl slot="body" class="it-card-description-list border-bottom-0 mb-0">
    <div>
      <dt>Email:</dt>
      <dd>me@mail.com</dd>
    </div>
    <div>
      <dt>Tel:</dt>
      <dd>340.4050600</dd>
    </div>
    <div>
      <dt>Indirizzo:</dt>
      <dd>Via della città, 5 - 00100 Città</dd>
    </div>
  </dl>
</it-card>
</template>