<template>
  <it-card full-height="">
    <a slot="title" href="#" data-tpl="title">Titolo servizio</a>
    <span slot="text" data-tpl="text">
      Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre
      o quattro righe, senza troncamento.
    </span>
    <div slot="footer" class="it-card-taxonomy">
      <a href="#" class="it-card-link">
        <span class="visually-hidden" data-tpl="category">Categoria correlata: </span>
      </a>
    </div>
  </it-card>
</template>
