<template>
  <it-card full-height="" variant="profile" data-tpl-border-top="borderTop">
    <a slot="title" href="#" data-tpl-href="titleHref" data-tpl="title" data-tpl-if="titleHref"
      >Nome Personale</a
    >
    <div slot="title" href="#" data-tpl="title" data-tpl-if-not="titleHref">Nome Personale</div>
    <span slot="subtitle" data-tpl-html="subtitle" data-tpl-if="subtitle"></span>
    <it-avatar
      slot="image"
      data-tpl-type="avatarType"
      size="xl"
      data-tpl-text="title"
      data-tpl-avatar-title="title"
      data-tpl-icon="icon"
      data-tpl-image="image"
    ></it-avatar>
    <dl
      slot="body"
      class="it-card-description-list border-bottom-0 mb-0"
      data-tpl-if="bodyHtml"
      data-tpl-html="bodyHtml"
    ></dl>

    <div
      slot="body"
      class="it-card-description-list border-bottom-0 mb-0"
      data-tpl-if="body"
      data-tpl-html="body"
    ></div>
  </it-card>
</template>
