<template> 
<it-card full-height="">
  <a slot="title" href="#" data-tpl="titolo">Titolo del contenuto</a>
  <figure slot="image" class="figure img-full">
    <img
      src="https://placeholderimage.eu/api/city/800/600"
      alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto."
    />
  </figure>
  <span slot="text" data-tpl="descrizione">
    Questo è un testo breve che riassume il contenuto della pagina di
    destinazione in massimo tre o quattro righe, senza troncamento.
  </span>
  <div slot="footer" class="it-card-taxonomy">
  </div>
</it-card>
</template>