<template>
  <it-section class="circolari-servizi-section">
    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-lg-6">
          <h2 class="circolari-servizi-section__title">Circolari</h2>
          <p class="circolari-servizi-section__description">Le ultime circolari pubblicate</p>
          <div class="row row-cols-1 g-3 mb-3" data-cards="circolari"></div>
          <a href="#" class="fw-semibold"
            >Consulta tutte le circolari<it-icon
              name="it-arrow-right"
              color="primary"
              size="sm"
              class="ms-2"
            ></it-icon
          ></a>
        </div>
        <div class="col-12 col-lg-6 pt-4 pt-lg-0">
          <h2 class="circolari-servizi-section__title">Servizi</h2>
          <p class="circolari-servizi-section__description">
            I servizi offerti dalla nostra scuola
          </p>
          <div class="row row-cols-1 g-3 mb-3" data-cards="servizi"></div>
          <a href="#" class="fw-semibold"
            >Vai a tutti i servizi<it-icon
              name="it-arrow-right"
              color="primary"
              size="sm"
              class="ms-2"
            ></it-icon
          ></a>
        </div>
      </div>
    </div>
  </it-section>
</template>
