<template>
  <it-section data-tpl-image="illustration" inverse="" data-tpl-class="class">
    <div class="container w-100">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 text-lg-start p-0">
          <div class="py-4 container m-0 row row-cols-1 g-2 g-lg-3">
            <p
              data-tpl="denominazione"
              data-tpl-if="denominazione"
              class="p-0 m-0 h2 fw-normal"
            ></p>
            <h1 data-tpl="nome" class="p-0 m-0"></h1>
            <p data-tpl="citta" class="p-0 m-0 h4 fw-normal"></p>

            <div class="row row-cols-1 g-4 p-0">
              <p data-tpl="descrizione" class="font-serif hero-quote fst-italic"></p>
              <a href="#" class="text-white mt-4 hero-more"
                >Scopri l'istituto<it-icon
                  name="it-arrow-right"
                  color="inverse"
                  size="sm"
                  class="ms-2"
                ></it-icon
              ></a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-lg-5 d-flex justify-content-lg-end justify-content-center mt-4 mt-lg-0"
          data-tpl-if="image"
        >
          <figure class="figure img-full mb-0 ratio ratio-16x9">
            <img data-tpl-src="image" alt="immagine istituto" width="540" height="304" />
          </figure>
        </div>
      </div>
    </div>
  </it-section>
</template>
