@import url('../styles/main.css');

.bg-white {
  background-color: var(--it-color-white);
}

.container-header-top a {
  text-decoration: none;
}


.school-logo {
  text-decoration: none; 
}

.school-name {
  color: var(--it-color-gray-32);
  text-decoration: none;
}

.container-header-top a {
	text-decoration:none;
	list-style-type: none;
}
.main-nav ul {
  list-style: none;
}

.main-nav a {
	color: var( --it-color-red-cherry-34);
	text-decoration: none;
}


