@import url('../styles/main.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}



.main-nav {
  color: var( --it-color-red-cherry-34);
}
.pre-header {
  background-color: #49131b;
  height: 40px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.pre-header a {
  color: var(--it-color-white);
  margin: 0;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;

}
