:root {
  --it-color-black-10: #0000001a; /** Colore neutro */
  --it-color-black-15: #00000026; /** Colore neutro */
  --it-color-black-25: #00000040; /** Colore neutro */
  --it-color-black-50: #00000080; /** Colore neutro */
  --it-color-black-85: #000000d9; /** Colore neutro */
  --it-color-black-100: #000; /** Colore neutro */
  --it-color-black-05: #0000000d; /** Colore neutro */
  --it-color-white: #fff; /** Colore neutro */
  --it-color-red-cherry-98: #fdf7f8; /** colore tema default */
  --it-color-redcherry-97: #fdf7f8; /** colore tema default */
  --it-color-red-cherry-95: #faebed; /** colore tema default */
  --it-color-red-cherry-84: #eebec5; /** colore tema default */
  --it-color-red-cherry-55: #d0495d; /** colore tema default */
  --it-color-red-cherry-52: #cd3c52; /** colore tema default */
  --it-color-red-cherry-34: #812230; /** colore tema default - valore base */
  --it-color-red-cherry-24: #611924; /** colore tema default */
  --it-color-red-cherry-18: #49131b; /** colore tema default */
  --it-color-secondary-lighter: #f6f7f9; /** colore tema default */
  --it-color-secondary: #455b71; /** colore tema secondario - valore base */
  --it-color-secondary-hover: #2f475e; /** colore tema secondario */
  --it-color-secondary-active: #17324d; /** colore tema secondario */
  --it-color-slate-20: #17324d; /** Colore neutro */
  --it-color-slate-28: #2f475e; /** Colore neutro */
  --it-color-slate-36: #455b71; /** Colore neutro */
  --it-color-slate-44: #5c6f82; /** Colore neutro - valore base */
  --it-color-slate-52: #768594; /** Colore neutro */
  --it-color-slate-62: #929da9; /** Colore neutro */
  --it-color-slate-68: #a3adb7; /** Colore neutro */
  --it-color-slate-78: #c5c7c9; /** Colore neutro */
  --it-color-slate-85: #d9dadb; /** Colore neutro */
  --it-color-slate-93: #ebeced; /** Colore neutro */
  --it-color-gray-10: #1a1a1a; /** Colore neutro */
  --it-color-gray-15: #262626; /** Colore neutro - valore base */
  --it-color-gray-25: #404040; /** Colore neutro */
  --it-color-gray-32: #525252; /** Colore neutro */
  --it-color-gray-45: #737373; /** Colore neutro */
  --it-color-gray-64: #a3a3a3; /** Colore neutro */
  --it-color-gray-83: #d4d4d4; /** Colore neutro */
  --it-color-gray-90: #e5e5e5; /** Colore neutro */
  --it-color-gray-96: #f5f5f5; /** Colore neutro */
  --it-color-gray-98: #fafafa; /** Colore neutro */
  --it-color-background-primary-darker: var(--color-red-cherry-18); /** sfondo primario */
  --it-color-background-primary-dark: var(--color-red-cherry-24); /** sfondo primario */
  --it-color-background-primary: var(--color-red-cherry-34); /** sfondo primario */
  --it-color-background-vivid: var(--color-red-cherry-52); /** sfondo primario */
  --it-color-background-primary-light: var(
    --color-red-cherry-84
  ); /** sfondo con contrasto leggero */

  --it-color-background-primary-lighter: var(
    --color-red-cherry-95
  ); /** sfondo di colore primario con contrasto ridotto */

  --it-color-background-primary-lighest: var(
    --color-redcherry-97
  ); /** sfondo di colore primario con contrasto ridotto */

  --it-color-background-primary-hover: var(
    --color-red-cherry-24
  ); /** sfondo utilizzato su componenti primari interattivi nello stato di :hover */

  --it-color-background-primary-active: var(
    --color-red-cherry-18
  ); /** sfondo utilizzato su componenti primari interattivi nello stato di :active */

  --it-color-background-accent: var(
    --color-red-cherry-52
  ); /** sfondo di colore accent che dà enfasi a una sezione */

  --it-color-background-header-top: var(
    --color-red-cherry-18
  ); /** sfondo utilizzato su componenti primari interattivi nello stato di :hover */

  --it-color-background-header-middle: var(--it-color-white); /** sfondo primario */
  --itcolor-background-header-bottom: var(
    --it-color-white
  ); /** sfondo di colore primario con contrasto ridotto */

  --it-color-background-footer: var(--color-red-cherry-18); /** sfondo utilizzato per il footer */
  --it-color-border-primary: var(--color-red-cherry-34); /** bordo primario */
  --it-color-border-primary-hover: var(
    --it-color-red-cherry-24
  ); /** bordo primario per stato interattivo hover */

  --it-color-border-primary-active: var(
    --color-red-cherry-18
  ); /** bordo primario per stato interattivo active */

  --it-color-border-primary-light: var(
    --color-red-cherry-84
  ); /** bordo primario per stato interattivo active */

  --it-color-border-accent: var(--color-red-cherry-52); /** bordo accent */
  --it-color-text-primary: var(--color-red-cherry-34); /** testo con link */
  --it-color-text-primary-hover: var(--color-red-cherry-24); /** testo con link nello stato hover */
  --it-color-text-primary-active: var(
    --color-red-cherry-18
  ); /** testo con link nello stato active */

  --it-color-text-accent: var(--color-red-cherry-52); /** testo di accento */
  --it-color-text-secondary: var(--color-secondary); /** testo di contesto */
  --it-color-icon-primary: var(--color-red-cherry-34); /** icona base */
  --it-color-icon-primary-hover: var(--color-red-cherry-24); /** icona nello stato hover */
  --it-color-icon-primary-active: var(--color-red-cherry-18); /** icona nello stato active */
  --it-color-icon-accent: var(--color-red-cherry-52); /** icona base */
}
