<template>
  <it-section inverse data-tpl-class="class" data-tpl-image="illustration">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-lg-7">
          <p data-tpl="pre-title" data-tpl-if="pre-title" class="m-0"></p>
          <h2 data-tpl="title" class="mw-75">Scopri la nostra offerta formativa</h2>
          <p data-tpl="text" class="font-serif mw-75"></p>
        </div>
        <div class="col col-12">
          <a class="btn btn-primary" href="#" data-tpl-href="buttonUrl"
            ><span data-tpl="buttonText">Vai alla didattica</span
            ><it-icon
              name="it-arrow-right"
              color="inverse"
              size="sm"
              class="ms-2"
              data-tpl-if="arrow"
            ></it-icon
          ></a>
        </div>
      </div>
    </div>
  </it-section>
</template>
