<template>
  <it-section data-tpl-image="illustration" inverse="" data-tpl-class="class">
    <div class="container w-100">
      <div class="row align-items-start">
        <div class="col-12 col-lg-7 text-lg-start p-0">
          <div class="pb-4 container m-0 row row-cols-1 g-2 g-lg-3">
            <p data-tpl="pre-title" data-tpl-if="pre-title" class="p-0 pt-4 m-0 h2 fw-normal"></p>
            <h1 data-tpl="title" class="p-0 m-0"></h1>

            <p data-tpl="subtitle" data-tpl-if="subtitle" class="p-0 mt-2 h5 fw-light w-75"></p>

            <div data-tpl-html="text" data-tpl-if="text" class="px-0"></div>
            <div class="row row-cols-1 g-4 p-0">
              <p data-tpl="quote" data-tpl-if="quote" class="font-serif hero-quote fst-italic"></p>
              <a href="#" class="text-white mt-4 hero-more fw-semibold" data-tpl-if="more"
                ><span data-tpl="more"></span
                ><it-icon name="it-arrow-right" color="inverse" size="sm" class="ms-2"></it-icon
              ></a>
            </div>
          </div>
        </div>

        <div
          class="col-12 col-lg-5 d-flex justify-content-lg-end justify-content-center mt-4 mt-lg-0 px-0"
          data-tpl-if="image"
        >
          <figure class="figure img-full mb-0 ratio ratio-16x9">
            <img data-tpl-src="image" alt="immagine istituto" width="540" height="304" />
          </figure>
        </div>
      </div>
    </div>
  </it-section>
</template>
