<template>
  <section
    data-tpl-if="lastUpdate"
    class="section border-top page-infos pt-4"
    data-tpl-class="className"
  >
    <div class="container w-100">
      <div class="font-serif">
        <p class="mb-2">
          Ultimo aggiornamento:
          <span data-tpl="lastUpdate"></span>
        </p>
        <p class="mb-0">
          Eccetto dove diversamente specificato, questi contenuti sono stati rilasciati sotto
          Licenza Creative Commons Attribuzione 4.0 Italia.
        </p>
      </div>
    </div>
  </section>
</template>
