<template>
  <it-section class="section">
    <div class="container">
      <div class="row g-4 align-items-start">
        <div class="col-12 col-lg-6">
          <h2>Contatti</h2>
          <p>Richiedi informazioni sul nostro Istituto per scoprire cosa offriamo.</p>
          <a href="#" data-tpl-href="linkUrl" class="fw-semibold"
            ><span>Consulta tutti i contatti</span
            ><it-icon name="it-arrow-right" color="primary" size="sm" class="ms-2"></it-icon
          ></a>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row row-cols-1 row-cols-lg-2 g-3" data-cards></div>
        </div>
      </div>
    </div>
  </it-section>
</template>
