<template>
  <it-section class="section bg-lighter">
    <div class="container">
      <div class="row g-4 align-items-start">
        <div class="col-12 col-lg-6">
          <h2>La nostra organizzazione scolastica</h2>
          <p>
            Breve testo che dà una panoramica di come è composta l’organizzazione scolastica e quali
            sono i principali organi.
          </p>
          <a href="#" data-tpl-href="linkUrl" class="fw-semibold"
            ><span>Scopri l'organizzazione</span
            ><it-icon name="it-arrow-right" color="primary" size="sm" class="ms-2"></it-icon
          ></a>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row row-cols-1 row-cols-lg-2 g-3" data-cards></div>
        </div>
      </div>
    </div>
  </it-section>
</template>
