//
// Aside
// --------------------------------------------------

.aside-border {
	position: relative;
	z-index: 0;
	&:after {
		content: "";
		background: #e7eaed;
		width: 1px;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
	}
}

.aside-sticky {
	position: sticky !important;
	top: 97px;
}

.aside-main {
	.toggle-link-list {
		display: block;
		padding: 15px 30px 19px 0;
		color: $dark;
		font-size: .88rem;
		font-weight: 600;
		position: relative;
		z-index: 0;
		@include media-breakpoint-down(lg) {
			padding-left: 20px;
		}
		.icon-toggle {
			position: absolute;
			z-index: 1;
			right: 20px;
			width: 14px;
			height: 14px;
			top: 50%;
			margin: -7px 0 0 0;
			fill: $gray-primary;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			.purplelight & {
				fill: $purplelight;
			}
			.redbrown & {
				fill: $redbrown;
			}
			.petrol & {
				fill: $petrol;
			}
			.greendark & {
				fill: $greendark;
			}
			.bluelectric & {
				fill: $bluelectric;
			}
		}
		&.collapsed {
			.icon-toggle {
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				-ms-transform: rotate(0deg);
				transform: rotate(0deg);
			}
		}
	}
	.link-list-wrapper {
		padding: 20px 0 0 0;
		ul {
			border-bottom: 1px solid #e7eaed;
			padding-bottom: 20px;
			li {
				a {
					font-size: 1rem;
					.purplelight & {
						color: $purplelight;
					}
					.redbrown & {
						color: $redbrown;
					}
					.petrol & {
						color: $petrol;
					}
					.greendark & {
						color: $greendark;
					}
    		  .bluelectric & {
    				color: $bluelectric;
    			}
				}
			}
		}
	}
}

.aside-title {
	position: relative;
	z-index: 0;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: #e7eaed;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 37px;
		height: 4px;
		background: $gray-primary;
		.purplelight & {
			background: $purplelight;
		}
		.redbrown & {
			background: $redbrown;
		}
		.petrol & {
			background: $petrol;
		}
		.greendark & {
			background: $greendark;
		}
	  .bluelectric & {
			background: $bluelectric;
		}
	}
}

.aside-border-left {
	position: relative;
	z-index: 0;
	&:after {
		content: "";
		background: #e7eaed;
		width: 1px;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
	}
}


.bg-white-left {
	position: relative;
	z-index: 0;
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		background-color: #ffffff;
		--widthA: calc(100vw - 1200px);
		--widthB: calc(-100vw + 1200px);
		width: calc(var(--widthA) / 2);
		left: calc(var(--widthB) / 2);
		height: 100%;
	}
}

.aside-list {
	padding: 40px 0 40px 0;
	ul {
		list-style: none;
		padding: 0;
		@include media-breakpoint-down(md) {
			border-top: 1px solid #d1d6db;
			margin: 0 0 40px 0;
		}
		li {
			margin: 0 0 7px 0;
			@include media-breakpoint-down(md) {
				margin: 0 0 0 0;
        border-bottom: 1px solid #d1d6db;
				padding: 14px 0 14px 0;
      }
		}
	}
	h3, .h3, h6, .h6 {
		letter-spacing: 1px;
		margin: 0 0 20px 0;
		strong {
			font-weight: 700;
		}
	}
}
