//
// Big Data
// --------------------------------------------------

.big-data {
  @include media-breakpoint-up(xl) {
    margin-top: 80px;
  }
  p {
    font-size: 8rem;
    line-height: 1;
    font-family: $font-family-monospace;
    @include media-breakpoint-down(lg) {
      font-size: 7.7rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 7.1rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 6.7rem;
      text-align: center;
    }
    @include media-breakpoint-down(xs) {
      font-size: 6.5rem;
      text-align: center;
    }
  }
  .redbrown & {
    color: $redbrown;
  }
}

.big-data-details {
  display: flex;
  @include media-breakpoint-down(sm) {
    justify-content: center;
    margin-bottom: 20px;
  }
  @include media-breakpoint-down(xs) {
    justify-content: center;
  }

  svg {
    display: block;
    width: 47px;
    height: 47px;
    margin: 4px 20px 0 0;
    flex-shrink: 0;
    @include media-breakpoint-down(sm) {
      margin-top: 0px;
    }
    .purplelight & {
      fill: $purplelight;
    }
    .redbrown & {
      fill: $redbrown;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    font-family: $font-family-sans-serif;
    max-width: 120px;
    margin: 0 0 0 0;
    @include media-breakpoint-down(sm) {
      font-size: 1.37rem;
      text-align: left;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1.25rem;
      text-align: left;
    }
  }
}

.big-data-rounded {
  width: 100%;
  background-color: $redbrown;
  color: #ffffff;
  position: relative;
  z-index: 0;
  max-width: 376px;
  @include media-breakpoint-down(sm) {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @include border-radius(50%);
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .big-data-rounded-content {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 0 20px 0;
      font-size: 8rem;
      font-family: $font-family-monospace;
      line-height: 1;
      @include media-breakpoint-down(lg) {
        font-size: 7.7rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 7.1rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 6.7rem;
      }
      @include media-breakpoint-down(xs) {
        font-size: 6.5rem;
      }
    }
    small {
      display: block;
      text-align: center;
      width: 100%;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.1;
      @include media-breakpoint-down(sm) {
        font-size: 1.27rem;
      }
      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
    }
  }
}



.big-data-rounded-icon {
  display: flex;
  .big-data-rounded-icon-wrapper {
    width: 146px;
    height: 146px;
    background-color: $redbrown;
    color: #ffffff;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    @include border-radius(50%);
    margin: 0 30px 0 0;
    @include media-breakpoint-down(sm) {

    }
    svg {
      fill: #ffffff;
      width: 80px;
      height: 80px;
      display: inline-block;
      @include media-breakpoint-down(sm) {

      }
    }
  }
  .big-data-rounded-icon-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4, .h4 {
      font-size: 1rem;
      margin: 0 0 0 0;
    }
    p {
      font-family: $font-family-monospace;
      font-size: 2.25rem;
      line-height: 1;
      letter-spacing: -2px;
      font-weight: 700;
      margin: 0 0 20px 0;
    }
  }
}
