//
// Location
// --------------------------------------------------

.location-list {
  @include clearfix;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 1;
  li {
    margin: 0 0 7px 0;
    display: flex;
    clear: both;
    align-items: flex-start;
    .responsive-tabs-wrapper & {
      margin-bottom: 10px;
    }
  }
  .location-title {
    width: 70px;
    text-align: right;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    span {
      font-weight: 700;
      font-size: .75rem;
      text-transform: uppercase;
      opacity: 0.45;
      .responsive-tabs-wrapper & {
        font-size: .94rem;
        opacity: 1;
      }
    }
  }
  .location-content {
    font-size: .88rem;
    padding: 1px 0 0 0;
    .responsive-tabs-wrapper & {
      font-size: 1rem;
    }
    p {
      display: block;
      margin: 0 0 0 0;
      font-family: $font-family-sans-serif;
      font-size: .88rem;
      font-weight: 400;
      .responsive-tabs-wrapper & {
        font-size: 1rem;
      }
    }
  }
}

.map-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: inherit;
  .map, .map-large {
    width: 100%;
    height: 100%;
  }
}
