<template>
  <it-accordion mode="multiple" left-icon="">
    <it-accordion-item default-open="">
      <span slot="heading">Scuola primaria E. De Amicis</span>

      <div slot="content">
        <p class="text-muted mb-4">
          L'elenco dei libri di testo raccoglie i volumi adottati dalla scuola per ciascun anno e
          classe. Le informazioni sono aggiornate annualmente e permettono a famiglie e studenti di
          conoscere con precisione i testi necessari per l'avvio e lo svolgimento dell'anno
          scolastico.
        </p>

        <div class="row g-4">
          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 1A - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 2A - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 3A - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 4A - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 5A - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 1B - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 2B - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 3B - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 4B - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>

          <div class="col-md-4 col-12">
            <it-card full-height="">
              <a slot="title" href="#" class="text-decoration fw-semibold"
                >Classe 5B - Indirizzo musicale</a
              >
              <span slot="text" class="text-secondary d-block mt-1">PDF, 0.5 MB</span>
            </it-card>
          </div>
        </div>
      </div>
    </it-accordion-item>

    <it-accordion-item>
      <span slot="heading">Scuola primaria A. Diaz</span>
      <div slot="content">
        <p class="text-muted"></p>
      </div>
    </it-accordion-item>

    <it-accordion-item>
      <span slot="heading">Scuola secondaria di primo grado F. Henriquez</span>
      <div slot="content">
        <p class="text-muted"></p>
      </div>
    </it-accordion-item>
  </it-accordion>
</template>
