<template>
  <it-accordion mode="multiple" left-icon="">
    <it-accordion-item default-open="">
      <span slot="heading" data-tpl="nome1">Elemento richiudibile #1</span>
      <div slot="content" data-tpl="descrizione1"></div>
    </it-accordion-item>

    <it-accordion-item>
      <span slot="heading" data-tpl="nome2">Elemento richiudibile #2</span>
      <div slot="content" data-tpl="descrizione2"></div>
    </it-accordion-item>

    <it-accordion-item>
      <span slot="heading" data-tpl="nome3">Elemento richiudibile #3</span>
      <div slot="content" data-tpl="descrizione3"></div>
    </it-accordion-item>
  </it-accordion>
</template>
