<template>
  <div class="border-top border-light">
    <div class="container pt-5 pb-0 pb-lg-4">
      <div class="row">
        <div class="col-12 col-lg-8 d-flex flex-column align-items-start">
          <h1 data-tpl="title"></h1>
          <p
            class="page-description h4 fw-normal pt-0"
            data-tpl="description"
            data-tpl-if="description"
          ></p>
          <div data-tpl-if="category" data-tpl="category" href="#" class="fw-semibold mt-5"></div>
        </div>
        <div class="col-12 px-0 col-lg-4 d-flex flex-column flex-lg-column-reverse align-items-end">
          <it-dropdown it-aria-label="Condividi" variant="link" class="share px-3 py-4 p-lg-0">
            <div slot="label">
              <it-icon name="it-share" size="sm" color="primary" class="me-2"></it-icon>Condividi
            </div>
            <it-dropdown-item href="#">
              <it-icon slot="prefix" name="it-facebook" size="sm" color="primary"></it-icon>
              Facebook
            </it-dropdown-item>
            <it-dropdown-item href="#">
              <it-icon slot="prefix" name="it-twitter" size="sm" color="primary"></it-icon>
              Twitter
            </it-dropdown-item>
            <it-dropdown-item href="#">
              <it-icon slot="prefix" name="it-linkedin" size="sm" color="primary"></it-icon>
              LinkedIn
            </it-dropdown-item>
            <it-dropdown-item href="#">
              <it-icon slot="prefix" name="it-whatsapp" size="sm" color="primary"></it-icon>
              WhatsApp
            </it-dropdown-item>
          </it-dropdown>

          <div data-tpl-if="image" class="mb-lg-4">
            <img data-tpl-src="image" alt="" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
