//
// Forms
// --------------------------------------------------

.form-group {
  label {
    position: relative;
    z-index: auto;
    top: auto;
    left: auto;
    right: auto;
    line-height: normal;
    padding: 0;
    margin: 0;
  }
}
