//
// Type
// --------------------------------------------------

html,
body {
  font-size: 16px;
  line-height: 1.5;
  color: $gray-primary;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $gray-primary;
  text-decoration: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: $dark;
}

.semi-bold {
  font-weight: 600;
}

.text-icon {
  display: flex;
  margin: 20px 0 0 0;
  a {
    display: flex;
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    .greendark & {
      fill: $greendark;
    }
  }
  p {
    font-size: 1rem !important;
    margin: 0 0 0 0;
  }
}

.text-underline {
  text-decoration: underline !important;
}

.icon-bluelectric {
  fill: $bluelectric !important;
}

:focus, .form-check [type="checkbox"]:focus + label, .form-check [type="radio"]:focus + label, .toggles label input[type="checkbox"]:focus + .lever {
  border: 0px;
  outline: none;
  box-shadow: none;
}
