<template>
  <h3>Periodi di chiusura</h3>

  <div class="row">
    <div class="col-12 col-lg-8">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">Giorno</th>
            <th scope="col">Festività</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">Tutti sabati e le domeniche</td>
          </tr>
          <tr>
            <td>dall’8 al 9 dicembre 2025</td>
            <td>Immacolata Concezione</td>
          </tr>
          <tr>
            <td>dal 31 ottobre al 1 novembre 2025</td>
            <td>Ognissanti</td>
          </tr>
          <tr>
            <td>dal 23 dicembre 2025 al 6 gennaio 2026</td>
            <td>Festività natalizie</td>
          </tr>
          <tr>
            <td>dal 04 al 06 aprile 2026</td>
            <td>Festività pasquali</td>
          </tr>
          <tr>
            <td>dal 24 al 25 aprile 2026</td>
            <td>Anniversario della liberazione</td>
          </tr>
          <tr>
            <td>1 maggio 2026</td>
            <td>Festa del Lavoro</td>
          </tr>
          <tr>
            <td>2 giugno 2026</td>
            <td>Festa della Repubblica</td>
          </tr>
          <tr>
            <td>29 giugno 2026</td>
            <td>Festa patronale</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
