<template>
  <section class="section">
    <h2 class="mb-4">I nostri indirizzi di studio</h2>
    <p>Breve descrizione degli indirizzi di studio offerti dalla scuola.</p>

    <div class="row">
      <div class="col-12 col-lg-8">
        <div class="it-list-wrapper">
          <ul class="it-list">
            <li>
              <a href="#" class="list-item px-0">
                <div class="it-right-zone">
                  <div class="text">
                    Indirizzo / Percorso di studio
                    <p class="small text-secondary mb-0 fw-normal">
                      Tempo pieno scolastico (40 ore settimanali) con attività didattiche,
                      ricreative e di supporto allo studio.
                    </p>
                  </div>
                  <it-icon name="it-chevron-right" color="primary" size="sm"></it-icon>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="list-item px-0">
                <div class="it-right-zone">
                  <div class="text">
                    Indirizzo / Percorso di studio
                    <p class="small text-secondary mb-0 fw-normal">
                      Tempo pieno scolastico (40 ore settimanali) con attività didattiche,
                      ricreative e di supporto allo studio.
                    </p>
                  </div>

                  <it-icon name="it-chevron-right" color="primary" size="sm"></it-icon>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
